*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.boxArt{
    width: 495px;
    height: 435px;
    border: solid 1px white;
    position: relative;
}

.box{
    height: 200px;
    width: 15px;
    background-color: aliceblue;
    margin: 10px;
    border: solid 1px;
    text-align: center;
    padding: 55px 15px;
    position: absolute;
}

.boxArt .box:nth-child(2){
    left: 160px;
}

.boxArt .box:nth-child(3){
left: 320px;
}

.art_mig{
    width: 300px;
    height: 300px;
}