* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lucida Sans;
  font-size: 17px;
  text-align: justify;
  background-color: rgb(177, 217, 233);
  line-height: 1.4;
}

#container_html {
  margin: 30px auto;
  padding: 0 auto;
  display: inline;
  
}

.enlaces {
  background-color: #f0efef;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}



.enlaces li {
  list-style: none;
  padding: 4px;
  color: aliceblue;
}

.enlaces a {
  color: #2a7ec2;
}

.enlaces ul {
  display: block;
  text-align: center;
}

h3{
  padding: 10px;
  background-color: rgb(154, 215, 241);
  border-radius: 5px;
}

p{
  padding: 10px;
}

/* selector de etiqueta p, clase . id # */
.docsContainer {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.bloqueDocumentacion {
  margin-top: 8px;
}

.docItem {
  background-color: #d7e1e3;
  padding: 10px;
  border-radius: 8px;

}

.docItemTitle,
.docItemDescription,
.codeExampleContainer {
  margin: 8px;
}

.codeExample {
  background-color: #539ce0;
  height: 25px;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  font-weight: 600;
  margin: 8px;
}

.docItem p:nth-child(2) {
  color:#000;
}

.docItem h3 {
  margin: 8px;
}

@media screen and (min-width: 300px) {
  #container_html,
  .enlaces, .docsContainer {
    display: block;
    width: 87%;
  }
}

@media screen and (min-width: 768px) {
  #container_html,
  .enlaces, .docsContainer {
    display: block;
    width: 90%;
  }
}

@media screen and (min-width: 992px) {
  #container_html,
  .enlaces, .docsContainer {
    display: block;
    width: 93%;
  }
}

@media screen and (min-width: 1440px) {
  #container_html,
  .enlaces,.docsContainer {
    display: block;
    width: 95%;
  }
}
